#!/usr/bin/env bash

alias l="ls -lAF --color=auto"
alias ls="ls --color=auto"
alias grep='grep --color=auto'
alias st='ss -atn'

if which kubectl &> /dev/null; then
  alias k='kubectl_with_var_kubeconfig'
  source <(kubectl completion bash)
  complete -F __start_kubectl k
  which kubectl krew &> /dev/null && source <(kubectl krew completion bash)
fi

if which helm &> /dev/null; then
  alias h='helm'
  source <(helm completion bash)
  complete -F __start_helm h
fi

if which terraform &> /dev/null; then
  alias t='terraform'
  complete -C /usr/bin/terraform terraform
  complete -C /usr/bin/terraform t
fi
